/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Define styles for input-validation-error class */
.input-validation-error,
input.error {
    border: 2px solid #e74c3c; /* Red border to indicate an error */
    background-color: #f2dede; /* Light red background */
    color: #a94442; /* Dark red text color */
    padding: 10px; /* Add some padding */
    border-radius: 4px; /* Rounded corners */
    font-weight: bold; /* Bold text */
}

/* Optionally, you can define styles for error messages */
.field-validation-error,
label.error {
    color: #e74c3c; /* Red color for error messages */
    font-size: 14px; /* Font size for error messages */
    margin-top: 5px; /* Space above the error message */
}

/* Style the input fields when they are focused to improve user experience */
.input-validation-error:focus {
    border-color: #c0392b; /* Darker red border when focused */
    outline: none; /* Remove default outline */
}